In [ ]:
SOLUTION 1

In [3]:
import pandas as pd
bb=pd.read_csv('billboard.csv')
bb

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bb.isna().sum()

artiste           0
track             0
genre             0
date.entered      0
date.peaked       0
               ...
x72nd.week      317
x73rd.week      317
x74th.week      317
x75th.week      317
x76th.week      317
Length: 81, dtype: int64

In [ ]:
SOLUTION 2

In [6]:
melt_bb=pd.melt(bb,id_vars=['artiste','track','genre','date.entered','date.peaked'], 
            value_name='rank', var_name='week')
melt_bb.sample(10)

,artiste,track,genre,date.entered,date.peaked,week,rank
10484,Destiny's Child,Jumpin' Jumpin',Rock,2000-05-13,2000-08-19,x34th.week,NaN
12264,Kumbia Kings,U Don't Love Me,R&B,2000-03-04,2000-03-18,x39th.week,NaN
13474,"Raye, Collin",Couldn't Last A Moment,Country,2000-03-18,2000-06-24,x43rd.week,NaN
23333,Jay-Z,Anything,Rap,2000-02-26,2000-03-11,x74th.week,NaN
17952,"Adams, Yolanda",Open My Heart,Gospel,2000-08-26,2000-10-21,x57th.week,NaN
6416,Lil Bow Wow,Bounce With Me,Rap,2000-08-19,2000-09-16,x21st.week,NaN
12335,Eve,Got It All,Rap,2000-07-15,2000-07-22,x39th.week,NaN
23307,"Jackson, Alan",www.memory,Country,2000-11-04,2000-12-23,x74th.week,NaN
3861,Jay-Z,I Just Wanna Love U (Give It 2 Me),Rap,2000-10-28,2000-12-30,x13th.week,12.0
7767,SheDaisy,I Will.. But,Country,2000-07-15,2000-09-16,x25th.week,NaN

In [7]:
melted=melt_bb.dropna(thresh=7)
melted.shape

(5307, 7)

In [30]:
melted.sample(5)

,artiste,track,genre,date.entered,date.peaked,week,rank
1941,"Backstreet Boys, The",Show Me The Meaning Of Being Lonely,Rock,2000-01-01,2000-03-18,x7th.week,12.0
2872,Dream,He Loves U Not,Rock,2000-09-30,2000-12-30,x10th.week,18.0
2920,Barenaked Ladies,Pinch Me,Rock,2000-09-09,2000-11-25,x10th.week,25.0
4148,"Houston, Whitney",My Love Is Your Love,Rock,1999-09-04,2000-01-08,x14th.week,6.0
3663,Mya,The Best Of Me,Rock,2000-04-15,2000-05-20,x12th.week,84.0

In [8]:
melted.dtypes

artiste          object
track            object
genre            object
date.entered     object
date.peaked      object
week             object
rank            float64
dtype: object

In [9]:
melted['date.entered']=pd.to_datetime(melted['date.entered'])

C:\Users\hzhdzt\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
melted.dtypes

artiste                 object
track                   object
genre                   object
date.entered    datetime64[ns]
date.peaked     datetime64[ns]
week                    object
rank                   float64
dtype: object

In [11]:
melted['date.peaked']=pd.to_datetime(melted['date.peaked'])

C:\Users\hzhdzt\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
melted['week'] = melted['week'].str.extract('(\d+)').astype(int)

C:\Users\hzhdzt\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
melted.dtypes

artiste                 object
track                   object
genre                   object
date.entered    datetime64[ns]
date.peaked     datetime64[ns]
week                     int32
rank                   float64
dtype: object

In [15]:
melted['entered_to_peak'] = melted['date.peaked'] - melted['date.entered']

C:\Users\hzhdzt\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
melted.sample(5)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
5589,"Adams, Yolanda",Open My Heart,Gospel,2000-08-26,2000-10-21,18,71.0,56 days
4863,"Tritt, Travis",Best Of Intentions,Country,2000-08-19,2000-12-02,16,27.0,105 days
4763,Sisqo,Incomplete,Rock,2000-06-24,2000-08-12,16,8.0,49 days
670,"Gray, Macy",I Try,Rock,2000-02-19,2000-05-20,3,47.0,91 days
2257,Ruff Endz,No More,Rock,2000-07-01,2000-09-02,8,10.0,63 days

In [ ]:
SOLUTION 3

In [45]:
melted[['artiste','track']][melted['rank']==1.0][melted['genre']=='Rock'][melted['entered_to_peak']=='35days']

C:\Users\hzhdzt\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      artiste  track
1588  Madonna  Music
1905  Madonna  Music
2222  Madonna  Music
2539  Madonna  Music